<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config version="1">
	<!-- Moviesorter //-->
	<sorter>
		<debug active="0"/>
		<gracetime minutes="20"/>
		<logging active="1"/>
		<rename_divx active="0"/>
		<sources>
			<!-- In welchen Verzeichnissen soll nach Serien gesucht werden?	//-->
			<directory>/Users/jkohl/Downloads-BT</directory>
			<directory>/Users/jkohl/Movies</directory>
			<directory>/Users/jkohl/Movies/TV-Serien</directory>
		</sources>
		<destination>
			<!-- 
				Umbenannte Dateien werden in eins der folgenden Verzeichnisse
				verschoben. Genauer: In das erste Verzeichnis, in dem genug
				Platz für die Datei ist.
				
				Achtung: Reihenfolge ist wichtig
			//-->
			<directory>/Volumes/Serien</directory>
			<directory>/Volumes/Filme</directory>
		</destination>
	</sorter>
	<!-- Torrentwatcher //-->
	<watcher>
		<feeds>
			<feed>http://tvrss.net/feed/eztv/</feed>
		</feeds>
		<watchfolder>/Users/jkohl/Downloads/Watchfolder</watchfolder>
		<idfile>torrentwatcher.dat</idfile>
		<debug active="0"/>
		<shows>
			<show>
				<regexp>/Numb3rs \d+x\d+ \[HDTV \- \w+\]/i</regexp>
			</show>
			<show>
				<regexp>/CSI \d+x\d+ \[HDTV \- LOL\]/i</regexp>
			</show>
			<show>
				<regexp>/How I Met Your Mother \d+x\d+ \[HDTV \- \w+\]/i</regexp>
			</show>
			<show>
				<regexp>/The Big Bang Theory(.*?) \d+x\d+ \[HDTV \- \w+\]/i</regexp>
			</show>
			<show>
				<regexp>/Eureka \d+x\d+(.*?)720p(.*?)/i</regexp>
			</show>
			<show>
				<regexp>/Eureka \d+x\d+ \[HDTV \- \w+\]/i</regexp>
			</show>
			<show>
				<regexp>/Flashpoint \d+x\d(.*?)/i</regexp>
			</show>
			<show>
				<regexp>/Eli Stone \d+x\d(.*?)/i</regexp>
			</show>
			<show>
				<regexp>/How Not to Live Your Life \d+x\d(.*?)/i</regexp>
			</show>
			<show>
				<regexp>/Fringe \d+x\d+ \[720P \- HDTV \- \w+\]/i</regexp>
			</show>
			<show>
				<regexp>/90210 \d+x\d+ \[HDTV \- \w+\]/i</regexp>
			</show>
			<show>
				<regexp>/One Tree Hill \d+x\d+ \[HDTV \- \w+\]/i</regexp>
			</show>
			<show>
				<regexp>/Rush \d+x\d+ \[HDTV - \w+\]/i</regexp>
			</show>
			<show>
				<regexp>/Gossip Girl \d+x\d+ \[HDTV \- \w+\]/i</regexp>
			</show>
			<show>
				<regexp>/Privileged \d+x\d+ \[HDTV \- \w+\]/i</regexp>
			</show>
			<show>
				<regexp>/Do Not Disturb \d+x\d+(.*?)/i</regexp>
			</show>
			<show>
				<regexp>/Chuck \d+x\d(.*?)/i</regexp>
			</show>
			<show>
				<regexp>/Mad Men \d+x\d+(.*?)/i</regexp>
			</show>
			<show>
				<regexp>/True Blood \d+x\d+(.*?)720p(.*?)/i</regexp>
			</show>
			<show>
				<regexp>/Heroes \d+x\d+ \[HDTV \- \w+\]/i</regexp>
			</show>
			<show>
				<regexp>/Entourage \d+x\d+ \[HDTV \- \w+\]/i</regexp>
			</show>
			<show>
				<regexp>/Greys Anatomy.*?\d+x\d \[HDTV \- \w+\]/i</regexp>
			</show>
			<show>
				<regexp>/Greys Anatomy.*?\d+x\d(.*?)720p(.*?)/i</regexp>
			</show>
			<show>
				<regexp>/^ER \d+x\d+ \[HDTV \- \w+\]/i</regexp>
			</show>
			<show>
				<regexp>/Knight Rider 2008 \d+x\d+ \[720P \- HDTV \- \w+\]/i</regexp>
			</show>
			<show>
				<regexp>/Chuck \d+x\d+ \[HDTV \- \w+\]/i</regexp>
			</show>
			<show>
				<regexp>/Damages \d+x\d+/i</regexp>
			</show>
			<show>
				<regexp>/Californication \d+x\d+/i</regexp>
			</show>
			<show>
				<regexp>/^30 Rock \d+x\d+/i</regexp>
			</show>
			<show>
				<regexp>/Private Practice \d+x\d+/i</regexp>
			</show>
			<show>
				<regexp>/House \d+x\d+(.*?)720p(.*?)/i</regexp>
			</show>
			<show>
				<regexp>/Boston Legal \d+x\d+/i</regexp>
			</show>
			<show>
				<regexp>/The IT Crowd \d+x\d+/i</regexp>
			</show>
			<show>
				<regexp>/The Office \d+x\d+/i</regexp>
			</show>
			<show>
				<regexp>/Skins \d+x\d+/i</regexp>
			</show>
			<show>
				<regexp>/Hustle \d+x\d+/i</regexp>
			</show>
			<show>
				<regexp>/Dollhouse \d+x\d+/i</regexp>
			</show>
			<show>
				<regexp>/Flight of the conchords \d+x\d+/i</regexp>
			</show>
			<show>
				<regexp>/Brothers and Sisters \d+x\d+/i</regexp>
			</show>
			<show>
				<regexp>/Burn Notice \d+x\d/i</regexp>
			</show>
			
		</shows>
	</watcher>
	<microbloging>
		<service>twitter</service>
		<username>MiniShow</username>
		<password>cHUswukane4uMu4r</password>
	</microbloging>
</config>